<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

        <title>Spidey</title>

        <!-- lib -->
        <link rel="stylesheet" href="/lib/css/bootstrap-3.3.6-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/lib/css/font-awesome-4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="/styles/main.css">
    </head>
    <body ng-controller="MainController as main">
        <header class="container-fluid header-block">
            <nav class="navbar navbar-fixed-bottom navbar-absolute-bottom navbar-transparent flex-centered">
                <div class="container">
                    <hero-search href-moc="main.href_moc"></hero-search>
                </div>
            </nav>
        </header>
        <main class="container-fluid main-block" ng-view></main>

        <!-- lib -->
        <script type="text/javascript" src="/lib/js/angular.min.js"></script>
        <script type="text/javascript" src="/lib/js/angular-route.min.js"></script>
        <script type="text/javascript" src="/lib/js/underscore-min.js"></script>

        <!-- spidey -->
        <script type="text/javascript" src="/js/spidey/module.js"></script>

        <!-- controllers -->
        <script type="text/javascript" src="/js/spidey/controllers/main_controller.js"></script>
        <script type="text/javascript" src="/js/spidey/controllers/spidey_pagination_controller.js"></script>
        <script type="text/javascript" src="/js/spidey/controllers/spidey_spinner_controller.js"></script>

        <!-- directives -->
        <script type="text/javascript" src="/js/spidey/directives/spidey_pagination.js"></script>
        <script type="text/javascript" src="/js/spidey/directives/spidey_spinner.js"></script>

        <!-- services -->
        <script type="text/javascript" src="/js/spidey/services/observable_factory.js"></script>
        <script type="text/javascript" src="/js/spidey/services/spidey_proxy.js"></script>
        <script type="text/javascript" src="/js/spidey/services/spinner_mediator.js"></script>

        <!-- character -->
        <script type="text/javascript" src="/js/character/module.js"></script>

        <!-- controllers -->
        <script type="text/javascript" src="/js/character/controllers/all_characters_controller.js"></script>
        <script type="text/javascript" src="/js/character/controllers/search_characters_controller.js"></script>
        <script type="text/javascript" src="/js/character/controllers/hero_search_controller.js"></script>

        <!-- directives -->
        <script type="text/javascript" src="/js/character/directives/hero_search.js"></script>

        <!-- services -->
        <script type="text/javascript" src="/js/character/services/characters_factory.js"></script>

        <!-- app -->
        <script type="text/javascript" src="/js/main.js"></script>
    </body>
</html>
