<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

        <title>Spidey</title>

        <link rel="stylesheet" href="/lib/css/bootstrap-3.3.6-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/lib/css/font-awesome-4.6.3/css/font-awesome.min.css">
    </head>
    <body ng-controller="MainController as main">
        <div ng-view></div>

        <!-- lib -->
        <script type="text/javascript" src="/lib/js/angular.min.js"></script>
        <script type="text/javascript" src="/lib/js/angular-route.min.js"></script>

        <!-- spidey -->
        <script type="text/javascript" src="/js/spidey/module.js"></script>

        <!-- controllers -->
        <script type="text/javascript" src="/js/spidey/controllers/main_controller.js"></script>
        <script type="text/javascript" src="/js/spidey/controllers/home_controller.js"></script>

        <!-- app -->
        <script type="text/javascript" src="/js/main.js"></script>
    </body>
</html>
