body {
    background-color: rgb(228, 228, 228);
}

.header-block {
    background-image: url("/images/header-image.jpg");
    background-position: 47% 39%;
    position: relative;
    height: 250px;

    -webkit-box-shadow: 0px 6px 6px -4px rgba(0,0,0,0.66);
    -moz-box-shadow: 0px 6px 6px -4px rgba(0,0,0,0.66);
    box-shadow: 0px 6px 6px -4px rgba(0,0,0,0.66);
}

.navbar-absolute-bottom {
    position: absolute;
}

.navbar-transparent {
    background-color: rgba(255, 255, 255, .4);
}

.centered-content-child {
    margin: auto;
}

.main-block {
    height: calc(100% - 250px);
    position: relative;
    padding-top: 20px;
}

.flex-centered {
    align-items: center;
    display: flex;
}

.pagination-nav {
    background-color: rgba(255, 255, 255, .6);
    text-align: center;
}

.spinner-main-container {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;

    background-color: rgba(0, 0, 0, 0.1);
    justify-content: center;
    display: flex;
}

.spinner-main-container .spinner-icon {
    color: rgba(16, 101, 208, 0.66);

    align-self: center;
    margin-top: -50%;
    font-size: 50px;
}
